---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Anna Vidal   ";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <!-- <h1>Anna</h1> -->
  <div style="margin-top: 30px;">
    <span class="badge">Software tester & automation engineer</span>
  </div>
  <h2>About</h2>
  <p>Hi! I'm Anna and I have +5 years of experience in the tech industry.</p>
  <p>
    In my role as a developer I would always be thinking about edge cases, whatifs
    and finding errors in existing code and bugs in production. This attention to
    detail and focus on quality led me to pursue more testing-oriented roles, where
    I can leverage my technical development experience while being more involved
    in user and business needs.
  </p>

  <!-- <div class="center">
    <a href="/projects/">
      <button class="btn">My portfolio</button>
    </a>
  </div> -->
  <!-- <h2>Skills</h2> -->
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Python"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
    />
    <img
      class="skills__img"
      width="50"
      height="50"
      alt="Pytest"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytest/pytest-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Selenium"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    Outside of tech, my main interest is the environment. After finishing my
    studies in Natural Sciences, I worked as a nature guide in the High Arctic,
    in Svalbard.
  </p>
  <p>
    Currently, I'm a second-year student of BA Philosophy, Politics and
    Economics with an interest in environmental policy, ecological economics and
    conservation.
  </p>
  <p>
    In my free time you will find me gardening and trying to grow my own food,
    sewing, and cooking.
  </p>
</Layout>
